<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'myapp/css/book_list.css' %}"> <!-- 修正済み -->
</head>
<body>
    <h1>本のリスト</h1>
    <ul>
        {% for book in books %}
        <li>
            <a href="{{ book.id }}/">{{ book.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="form/">新しい本を追加</a>
</body>
</html>