<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'myapp/css/home.css' %}"> <!-- 修正済み -->
</head>
<body>
    <h1>マイリスト</h1>
    <div class = "text_picture">
        <div class = "item">
            <img src="{% static 'myapp/image/anime.png' %}" alt="アニメ">
            <p>アニメリスト</p>
        </div>
        <div class = "item">
            <img src="{% static 'myapp/image/book.png' %}" alt="本">
            <p>本のリスト</p>
        </div>
        <div class = "item">
            <img src="{% static 'myapp/image/music.png' %}" alt="音楽">
            <p>音楽のリスト</p>
        </div>
        <div class = "item">
            <img src="{% static 'myapp/image/list.png' %}" alt="リスト">
            <p>リスト</p>
        </div>
        <div class = "item">
            <img src="{% static 'myapp/image/subscribe.png' %}" alt="本">
            <p>登録</p>
        </div>
    </div>
</body>
</html>
