{% extends 'base.html' %} <!-- 親テンプレートを継承 -->

{% block title %}Music Form{% endblock %} <!-- タイトルを指定 -->

{% block content %} <!-- コンテンツを挿入 -->
<h1>音楽 フォーム</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <!-- 非フィールドエラー表示 -->
        {{ form.non_field_errors }}
    </div>
    {% for field_item in field_data %}
        <div class="mb-3">
            <label class="form-label" for="{{ field_item.field.id_for_label }}">{{ field_item.field.label }}</label>
            {% if field_item.is_checkbox %}
                <!-- チェックボックスの場合 -->
                <div>
                    {% for subwidget in field_item.field %}
                        <div class="form-check">
                            {{ subwidget.tag }}
                            <label class="form-check-label" for="{{ subwidget.id_for_label }}">{{ subwidget.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <!-- 通常のフィールド -->
                {{ field_item.field }}
            {% endif %}
            <!-- フィールドのエラー表示 -->
            <div class="form-text text-danger">
                {{ field_item.field.errors }}
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">保存</button>
    <a href="{% url 'music_list' %}" class="btn btn-secondary">キャンセル</a>
</form>
{% endblock %}