<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Detail</title>
    <link rel="stylesheet" href="{% static 'myapp/css/music_detail.css' %}">
</head>
<body>
    <h1>{{ music.song_name }}</h1>
    <p>歌手: {{ music.singger }}</p>
    <p>作曲家: {{ music.writer }}</p>
    <p>作詞家: {{ music.sing_writer }}</p>
    <p>編曲者: {{ music.editor }}</p>
    <p>歌詞: {{music.song_write }}</p>

    <!-- 評価 -->
    <p>評価: 
        {% with music.value.all as value_list %}
            {% if value_list %}
                {{ value_list|join:", " }}
            {% else %}
                評価はありません
            {% endif %}
        {% endwith %}
    </p>

    <!-- 分類 -->
    <p>状態: 
        {% with music.status.all as status_list %}
            {% if status_list %}
                {{ status_list|join:", " }}
            {% else %}
                状態はありません
            {% endif %}
        {% endwith %}
    </p>

    <div>
        <!-- 削除ボタン -->
        <form action="{% url 'music_delete' music.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">削除</button>
        </form>
    
        <!-- 編集ボタン -->
        <form action="../form/{{ music.id }}/" method="get" style="display:inline;">
            <button type="submit">編集する</button>
        </form>
    
        <!-- 戻るボタン -->
        <form action="../" method="get" style="display:inline;">
            <button type="submit">戻る</button>
        </form>
    </div>
</body>
</html>